@font-face {
	font-family: 'db_sansblack';
	src: url('dbsans-black-webfont.eot');
	src: url('dbsans-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-black-webfont.woff') format('woff'),
		 url('dbsans-black-webfont.ttf') format('truetype'),
		 url('dbsans-black-webfont.svg#db_sansblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'db_sansblack_italic';
	src: url('dbsans-blackitalic-webfont.eot');
	src: url('dbsans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-blackitalic-webfont.woff') format('woff'),
		 url('dbsans-blackitalic-webfont.ttf') format('truetype'),
		 url('dbsans-blackitalic-webfont.svg#db_sansblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'db_sansbold';
	src: url('dbsans-bold-webfont.eot');
	src: url('dbsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-bold-webfont.woff') format('woff'),
		 url('dbsans-bold-webfont.ttf') format('truetype'),
		 url('dbsans-bold-webfont.svg#db_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'db_sansbold_italic';
	src: url('dbsans-bolditalic-webfont.eot');
	src: url('dbsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-bolditalic-webfont.woff') format('woff'),
		 url('dbsans-bolditalic-webfont.ttf') format('truetype'),
		 url('dbsans-bolditalic-webfont.svg#db_sansbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'db_sansitalic';
	src: url('dbsans-italic-webfont.eot');
	src: url('dbsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-italic-webfont.woff') format('woff'),
		 url('dbsans-italic-webfont.ttf') format('truetype'),
		 url('dbsans-italic-webfont.svg#db_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'db_sansregular';
	src: url('dbsans-regular-webfont.eot');
	src: url('dbsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('dbsans-regular-webfont.woff') format('woff'),
		 url('dbsans-regular-webfont.ttf') format('truetype'),
		 url('dbsans-regular-webfont.svg#db_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: 'db_sansregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300;
	font-size: 16px;
	height: 100%;
}

body {
	background-color: #000000;
	padding: 0;
    margin: 0;
}
	
h1, h2, h3, h4, h5 {
	font-family: 'db_headregular', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 2.125em; 
}

h2 {
	font-size: 1.6875em;
}

h3 {
	font-size: 1.375em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 1.125em;
}

h6 {
	font-size: 1rem;
}

a {
	color: #000;
	text-decoration: none;
}

input[type=button], .button {
	border-color: rgb(80, 80, 90);
	border-width: 1px;
	border-style: solid;
	background-image: linear-gradient(rgb(230, 230, 240), rgb(160, 160, 170));
	box-shadow: 0 0 6px #000;
	border-radius: 3px;
	min-width: 62px;
	min-height: 62px;
	color: rgb(255, 255, 255);
}

input[type=button]:active, input[type=button].dark:active {
	border-color: rgb(80, 80, 90);
	border-style: none;
	background-image: linear-gradient(rgb(185, 0, 0), rgb(255, 0, 0));
	box-shadow: inset 0 0 6px #000;
	min-width: 60px;
	min-height: 60px;
	margin-left: 1px;
	margin-right: 1px;
}

input[type=button]:disabled {
	background-color: rgb(255, 255, 255);
	background-image: none;
	box-shadow: none;
	border-color: rgb(180, 180, 190);
	border-width: 2px;
	color: rgb(180, 180, 190);
}

input[type=button].dark {
	background-image: linear-gradient(rgb(160, 160, 170), rgb(90, 90, 100));
}

input[type=button].green {
	background-image: linear-gradient(rgb(140, 185, 15), rgb(70, 115, 0));
	border-color: rgb(70, 115, 0);
}

input[type=button].green:active {
	background-image: linear-gradient(rgb(170, 215, 45), rgb(100, 145, 30));
	border-color: rgb(70, 115, 0);
	box-shadow: inset 0 0 6px #000;
}

.body-container {
	width: 1024px; 
	height: 768px;
	box-sizing: border-box;
	background-image: linear-gradient(rgb(220, 220, 230), rgb(100, 100, 110));
	background-size: cover;
}

.branding-zone {
	height: 40px;
	padding: 20px 24px 20px 24px;
	background-color: #fff;
	text-align: center;
}

.date-time {
	width: 200px;
	line-height: 40px;
	position: relative;
}

.main-container {
	margin: 10px 10px 10px 10px;
}

.bz-image-left {
    max-height: 40px;
    float: left;
    position: relative;
}

.bz-image-right {
	max-height: 40px;
	float: right;
	position: relative;
}

.info-zone {
	margin-left: 75px;
	margin-bottom: 5px;
}

.info-zone img {
	width: 120px;
	height: 80px;
	margin-right: 14px;
	vertical-align: middle;
}

.info-zone span {
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.portal-zone {
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 10px;
}

.portal-zone .cards {
	height: 440px;
	overflow: hidden;
}

.portal-zone .big-card {
	width: 397px;
	height: 220px;
	padding: 11px;
	background-color: #fff;
	float: left;
	margin: 2px;
	border-radius: 3px;
	border-color: rgb(80, 80, 90);
	border-width: 1px;
	border-style: solid;
}

.big-card .card-title {
	margin-bottom: 35px;
	margin-top: 0;
	line-height: 25px;
}

.big-card .card-image {
	width: 160px;
	height: 160px;
	float: left;
	margin-right: 10px;
}

.big-card .card-text {
	
}

.portal-zone .med-card {
	width: 397px;
	height: 160px;
	padding: 11px;
	background-color: #fff;
	float: left;
	margin: 2px;
	border-radius: 3px;
	border-color: rgb(80, 80, 90);
	border-width: 1px;
	border-style: solid;
}

.med-card .card-title {
	margin-bottom: 15px;
	margin-top: 0;
	line-height: 25px;
}

.med-card .card-image {
	width: 160px;
	height: 120px;
	float: left;
	margin-right: 10px;
}

.med-card .card-text {
	
}

.card-text ul {
	margin-left: 145px;
	list-style-image: url('../img/list.png');
}

.bottom-bar {
	height: 66px;
	width: 858px;
	margin-top: 10px;
	margin-bottom: 33px;
}

.bottom-bar .left {
	width: 166px;
	float: left;
	display: inline;
	margin: 2px 2px 2px 2px;
}

.bottom-bar .right {
	width: 166px;
	float: left;
	display: inline;
	margin: 2px 2px 2px 2px;
}

.bottom-bar .middle {
	width: 510px;
	display: inline;
	float: left;
	margin: 2px 2px 2px 2px;
	/*height: 56px;*/
}

.fill {
	width: 100%;
	height: 100%;
}

.ticker-bar {
	background-color: #fff;
	height: 40px;
	width: 100%;
	padding: 0;
	margin: 37px 0px 0px 0px;
}

.scroll-left {
	height: 50px;	
	overflow: hidden;
	position: relative;
}

.scroll-left p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 40px;
	text-align: center;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: scroll-left 20s linear infinite;
	-webkit-animation: scroll-left 20s linear infinite;
	animation: scroll-left 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0% { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
	0% { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
	0% { 
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%); 		
	}
	100% { 
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%); 
	}
}

.loading-bg {
	width: 1024px;
	height: 768px;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.loading-wheel {
	position: relative;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 90px;
	margin-top: -65px;
	margin-left: -65px;
	border: 20px solid #ccc;
	border-left-color: transparent;
	border-radius: 50%;
	animation: spin 1.66s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}